

mat-toolbar {
  padding-top: 60px;
  & mat-toolbar-row {
    display: flex;
    flex-flow: row wrap;
  }

  padding-left: 0;
  padding-right: 0;
  margin: 0;
  z-index: 11;
  display: flex;
  position: fixed;
  top: 0px;
  background-color: transparentize(white, .3);
  & button {
    font-size: 22px;
  }
}
.logo-row {
  min-height: 70px;
  display: flex;
  flex: 1 1 auto;
  flex-flow: row;
  padding-right: 48%;
  padding-left: 2%;
  //color: darken(darkgray,20%);
  font-family: arial;
  font-size: 16px;

  line-height:22px;
  justify-content: space-between;

  & img {
    transform: scale(.6);
  }
}

.menu-row {
  padding-top: 65px;
  //color: darken(limegreen, 19%);

  & button {
    font-family: arial;
  }
  & button:nth-child(6) {
    margin-left: auto;
  }
}

.right-lean {

  font-family: Roboto;
}

.main_container {
  display: flex;
  background-color: whitesmoke;
  flex-flow: column;
  margin-top: 205px;

}

.vid-container {
  display: flex;
  z-index: 100;
  justify-content: center;
  flex-flow: row nowrap;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparentize(darkgray, .1);
}

.imagebox {
  //background-repeat: no-repeat;
  //background-size: 100%;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.bookingSection {
  background-image: url("../assets/IMG_0190.jpg");
  min-height: 300px;
}
.banner:before {
  z-index: 2;
  display: block;
  position: relative;
  text-align: center;
  top: 200px;
  background-color: transparent;
  color: white;
  content: "A Cafe for all Seasons";
  font-family: Chalkduster;
  font-size: 40px;
  text-shadow: 0px 2px 2px darken(whitesmoke, 25%);
  width: 100%;
  height: 100%;
}

.banner {
  & img {
    width: 100%;
  }
  width: 100%;
}

.openingTimes {
  padding-top: 20px;
  display: flex;
  flex: 1 1 100%;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: space-around;
  & mat-card {
    width: 20%;
    & mat-card-content {
      font-size: 15px;
    }
  }
  margin-bottom: 20px;
  padding-right: 30%;
  padding-left: 30%;
}

.menus {
   justify-content: space-around;
  display: flex;
  flex: 0 0 50%;
  flex-flow: row ;
  mat-card {
    display: flex;
    flex: 0 0 28%;
    flex-flow: row wrap;
    & mat-card-content {


      font-size: 15px;
      justify-content: center;
    }
  }
}

.location {

}
