$green-gold : #827031;

@mixin title-color {
  color: $green-gold;
}
.wp-toolbar {
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  z-index: 10;
  display: flex;
  position: fixed;
  top: 0px;
  @include title-color;
  background-color: transparentize(white, .05);
  flex: 1 0 100%;
  width: 100%;
  flex-flow: row wrap;

}

.toolbar-firstrow {
  min-height: 70px;
  display: flex;
  flex: 1 0  100%;
  flex-flow: row wrap;
  font-family: arial;
  font-size: 12px;
  line-height: 12px;
  justify-content: center;

  & .logo {
    align-self: center;
    flex: 1 1 50%;
    background-color: transparentize(white, .05);
    & img {
      z-index: 2;
      margin-left : auto;
      padding: 12px 18px 12px 18px;
      border: $green-gold 2px solid;
      box-shadow: 1px 2px 2px 1px $green-gold;
      border-radius: 60%;
    }
  }
  & .contact-info {
    background-color: transparentize(white, .05);
    display: flex;
    justify-content: flex-end;
     & .inner {
       padding-right: 30px;
     }
    flex-flow: row wrap;
    text-align: right;
    flex: 1 1 50%;
    margin-top:20px;
  }
}
.toolbar-secondrow {
  background-color: transparentize(white, .05);
  display: flex;
  flex: 1 1  100%;
  flex-flow: row wrap;
  & button {
    font-family: arial;
  }
  & a {
    margin-left: auto;
    margin-right: 12px;
    z-index: 22;
    transform: translateY(20px);
    //& > div {
    //}
  }
}
.main_container {
  display: flex;
  background-color: whitesmoke;
  flex-flow: column;
  margin-top: 205px;
}
.vid-container {
  display: flex;
  z-index: 100;               //** undo
  justify-content: center;
  flex-flow: row nowrap;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparentize(black, .2);
}
.video_frame {
  margin-top: 20px;
  display: inline-flex;
  white: red solid 5px;
  border-radius: 8px;
  flex: 0 0 auto;
  flex-direction: column;

  & button {
    color: white;
    align-self: flex-end;
  }
}
.imagebox {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.bookingSection {
  background-image: url("../assets/IMG_0190.jpg");
  min-height: 300px;
}
.banner {
  & img {
    width: 100%;
  }
  width: 100%;
}
.openingTimes {

  padding-top: 20px;
  display: flex;
  flex: 1 1 45%;
  flex-flow: row wrap;
  justify-content: center;
  & mat-card {
    margin-right: 5%;
    & mat-card-title {
      @include title-color;
      text-align: center;
      font-size: 15px;
    }
    & mat-card-content {
      text-align: center;
      font-size: 12px;
    }
  }
  margin-bottom: 20px;
}

.menus {
  justify-content: flex-start;
  display: flex;
  flex: 1 1 30%;
  flex-flow: row wrap;
  margin-bottom: 2%;
  padding-left: 5%;
  padding-right: 3%;
  mat-card {

    display: flex;
    flex: 0 0 25%;
    flex-flow: row wrap;
    margin-right: 2%;
    margin-bottom: 10px;
    & mat-card-title {
      @include title-color;
      font-family: Chalkduster;
    }
    & mat-card-content {

      font-size: 15px;
      justify-content: center;

    }
  }

  //& > :nth-child(1) {
  //
  //  //left-margin:130px;
  //}
}

@media only screen and (max-width:830px) {
  .toolbar-firstrow {
    display: flex;
    flex: 1 0  100%;
    flex-flow: row wrap;
    font-family: arial;
    font-size: 12px;
    line-height: 12px;
    justify-content: space-around;
    margin-bottom: 15px;
    & .logo {
      justify-content: center;
      flex: 1 1 100%;
      background-color: blue;
      background-color: transparentize(white, .05);
      & img {
        //display: none;
        margin-left : 1px;
      }
    }
    & .contact-info {
      display: flex;
      justify-content: center;
      & .inner {
        padding-right: 30px;

      }

      margin-top:20px;

    }
  }
  .wp-toolbar {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    z-index: 1;
    display: flex;
    position: relative;
    top: 0px;
    background-color: transparentize(white, .05);
    width: 100%;
    flex-flow: row wrap;
  }
  .toolbar-secondrow {
    display: flex;
    flex: 1 1  100%;
    flex-flow: row wrap;
    & button {
      font-family: arial;
      flex:  1 1 100%;
      background-color: whitesmoke;
      border-top: darken(gray, 5%) 1px solid;
    }
    & button:nth-child(6) {
      margin-left: auto;
    }
  }

.main_container {
 //margin-top:10px;
  background-color: blue;
}
  .vid-container {
    //display: flex;
    //z-index: 100;               //** undo
    //justify-content: center;
    //flex-flow: row nowrap;
    //position: fixed;
    //top: 0;
    width: 320px;
    height: 250px;
   //height: 560px;
    background-color: transparentize(black, .2);
  }
  .video_frame {
    margin-top: 20px;
    display: inline-flex;
    white: red solid 5px;
    border-radius: 8px;
    flex: 0 0 auto;
    flex-direction: row;

    & button {
      color: white;
      align-self: flex-end;
    }

  }
  .menus {
    flex: 1 1 100%;
    mat-card{
      //background-color: red;
      flex: 1 1 100%;
    }
  }


}

