<!--The content below is only a placeholder and can be replaced.-->


<div class="wp-toolbar mat-elevation-z10">
  <div class="toolbar-firstrow" *ngIf="showFirstRow">

    <div class="contact-info" style="order:2;">
      <div class="inner">
        <span class="material-icons icons">home</span>
        <span>14 Charterhouse Square,
                 London EC1M 6AX</span> <br>

        <span class="material-icons icons"
              style="font-size: 20px; transform: translate(-3px,3px);">local_phone</span>
        <span> 0203 817 4178</span>
        <div style="display: inline-block; width: 15px"></div>

        <span class="material-icons icons" style="font-size: 20px; transform: translateY(3px);">email</span>
        <span> 14.green.bookings@gmail.com</span>
      </div>
    </div>
    <div class="logo" [ngStyle]="{'display': !flag ? 'flex' : 'flex'}">
      <img src="../assets/logo_small.png" alt="">

    </div>
  </div>
  <div class="toolbar-secondrow">
    <button mat-button (click)="scrollToElement(menus)">MENUS</button>
    <button mat-button>RESERVE</button>
    <button mat-button (click)="scrollToElement(privateEvents)">HIRE</button>
    <button mat-button (click)="scrollToElement(afternoonTea)">AFTERNOON TEAS</button>
    <button mat-button (click)="scrollToElement(findus)">FIND US</button>

    <!--<a mat-raised-button style="background-image: linear-gradient(to top, #e8575e, #dd4c53) ;"-->
    <!--href="../assets/menus/MenuXmas.1.0.pdf" target="_blank"-->
    <!--&gt;-->

    <!--<span style="display: inline-block; color: linen; transform: translateY(-6px)">XMAS BOOK NOW-->
    <!--<img src="../assets/bells.png" alt=""-->
    <!--style="transform: scale(1) translateY(-20px) translateX(20px) rotateZ(30deg)">-->
    <!--</span></a>-->


  </div>

</div>


<div class="vid-container" *ngIf="flag === true">
  <div class="video_frame">
    <button mat-icon-button (click)="closeVidWindow()">
      <span class="material-icons" style="font-size: 34px">close</span>
    </button>
    <video src="../assets/videos/food_journey.mp4"
           controls
           #player>
    </video>

    <!--<iframe width="80%" height="80%" src="https://www.youtube.com/embed/z3ItEdpX2TA?start=2" frameborder="0"-->
    <!--#player-->
    <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>-->
    <!---->
    <!--</iframe>-->

  </div>
</div>


<!---->
<div class="main_container">


  <!-- BANNER-->
  <div class="banner">
    <img src="../assets/BannerSansStrapline.jpg" alt="">
  </div>

  <!---->
  <!--OPENING TIMES-->

  <div #menus></div>
  <div #afternoonTea></div>
  <div class="menus">
    <mat-card>

      <!---->
      <!--Weekend Menus-->
      <div class="mat-elevation-z1 separator pink"></div>

      <mat-card-title>

        <div>Weekend Menus</div>

      </mat-card-title>
      <mat-card-content>

        <p>From March 2019, our Brunch Menu will be available from 10am Saturday and Sunday. Traditional Brunch dishes
          such as Eggs Royale, Avocado on Open toast including our own exclusive recipes. </p>
        <br>
        <a href="../assets/menus/WEEKEND%20BRUNCH%20COUPON%20REAR.pdf" target="_blank" mat-raised-button
           style="color: whitesmoke; background-color: #827031;">
          <!--<span style="font-size: 13px">Menu</span>-->
          <!--<i class="material-icons" matTooltip="Download Menu" style="color: whitesmoke">-->
          <!--cloud_download-->
          <!--</i> -->
          View Menu
        </a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <img src="../assets/food/brunch_top.png"
             style="width: 95%"
             alt="">
      </mat-card-content>
    </mat-card>

    <!---->
    <!-- Afternoon Tea-->
    <mat-card>
      <div class="mat-elevation-z1 separator yellow"></div>
      <mat-card-title>
        <div>Afternoon Tea</div>
      </mat-card-title>
      <mat-card-content>

        <p>
          The perfect setting for an Afternoon Tea with friends or colleagues. Our Garden room has charming views
          overlooking the ancient trees and historic building of Charterhouse Square. Our Tea menu with options to suit
          both contemporary or traditional tastes.
        </p>

        <a href="../assets/menus/WEEKEND%20BRUNCH%20COUPON%20REAR.pdf" target="_blank" mat-raised-button
           style="color: whitesmoke; background-color: #827031;">
          <!--<span style="font-size: 13px">Menu</span>-->
          <!--<i class="material-icons" matTooltip="Download Menu" style="color: whitesmoke">-->
          <!--cloud_download-->
          <!--</i> -->
          View Menu
        </a>


        <img src="../assets/food/sconesByCh.jpeg"
             style="width: 95%"
             alt="">
      </mat-card-content>
    </mat-card>

    <!---->
    <!--Lunch & Evening-->
    <mat-card>
      <div class="mat-elevation-z1 separator green"></div>
      <mat-card-title>
        <div>Lunch & Evening</div>
        <!--<a href="../assets/menus/MenuLunch.1.0.pdf" target="_blank">-->
          <!--<i class="material-icons" matTooltip="Download Menu">-->
            <!--cloud_download-->
          <!--</i> </a>-->
      </mat-card-title>
      <mat-card-content>
        <p>
          Our menu reflects the seasons offerings but also the inclinations of our diners for each time of the year. We pride
          ourselves on presenting food that is vibrant in flavours and colours, our dishes to reflecting the latest of
          trends with a nod also to favourite well known dishes.
        </p>
        <a href="../assets/menus/WEEKEND%20BRUNCH%20COUPON%20REAR.pdf" target="_blank" mat-raised-button
           style="color: whitesmoke; background-color: #827031;">
          View Menu
        </a>


      </mat-card-content>
    </mat-card>

    <!---->
    <!--CHRISTMAS DINNER-->

    <!--<mat-card>-->
    <!--<div class="mat-elevation-z1 separator green"></div>-->
    <!--<mat-card-title>-->
    <!--<div>Christmas/ News Year</div>-->
    <!--<a href="../assets/menus/MenuXmas.1.0.pdf" target="_blank">-->
    <!--<i class="material-icons" matTooltip="Download Menu">-->
    <!--cloud_download-->
    <!--</i> </a>-->
    <!--</mat-card-title>-->
    <!--<mat-card-content>-->

    <!--<p>Toast to Christmas in London with a glass of champagne and tasty canapes. With a three-course Christmas-->
    <!--dinner, with dishes such as roast turkey with all the trimmings and a helping of traditional-->
    <!--Christmas pudding.-->
    <!--</p>-->
    <!--<a href="../assets/menus/WEEKEND%20BRUNCH%20COUPON%20REAR.pdf" target="_blank" mat-raised-button style="text-align:center; color: whitesmoke; background-color: #827031;">-->
    <!--View Menu-->
    <!--</a>-->
    <!--<img src="../assets/xmas-lunch.jpg"-->
    <!--style="width: 95%"-->
    <!--alt="">-->
    <!--</mat-card-content>-->
    <!--</mat-card>-->

    <!---->
    <!--BAR and Casaual Dining-->

    <mat-card>
      <div class="mat-elevation-z1 separator pink"></div>
      <mat-card-title>
        <div>Bar and Snack Dining</div>
        <a href="../assets/menus/WEEKEND%20BRUNCH%20COUPON%20REAR.pdf">

          <i class="material-icons" matTooltip="Download Menu">
            cloud_download
          </i> </a>
      </mat-card-title>
      <mat-card-content>
        Cocktail hour each friday from 6pm.
        <br><br><br>
        <a href="../assets/menus/WEEKEND%20BRUNCH%20COUPON%20REAR.pdf" target="_blank" mat-raised-button
           style="color: whitesmoke; background-color: #827031;">
          <!--<span style="font-size: 13px">Menu</span>-->
          <!--<i class="material-icons" matTooltip="Download Menu" style="color: whitesmoke">-->
          <!--cloud_download-->
          <!--</i> -->
          View Menu
        </a>
        <img src="../assets/ext_drinks/IMG_0280.jpg"
             style="width: 95%"
             alt="">
      </mat-card-content>
    </mat-card>

    <!---->
    <!--Super-Fine Coffees-->

    <!--<mat-card>-->
    <!--<div class="mat-elevation-z1 separator yellow"></div>-->
    <!--<mat-card-title>-->
    <!--<div>Super-Fine Coffees</div>-->
    <!--<a style="padding: 20px" href="../assets/menus/WEEKEND%20BRUNCH%20COUPON%20REAR.pdf">-->
    <!--<i class="material-icons"  matTooltip="Download Menu">-->
    <!--cloud_download-->
    <!--</i> </a>-->
    <!--</mat-card-title>-->
    <!--<mat-card-content>-->
    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus debitis quidem sequi? Animi, commodi-->
    <!--cumque ea nam nisi quasi totam! Accusamus autem id illum laborum molestiae natus nulla rerum tempora.-->
    <!--<img src="../assets/ext_drinks/IMG_0280.jpg"-->
    <!--style="width: 95%"-->
    <!--alt="">-->
    <!--</mat-card-content>-->
    <!--</mat-card>-->

  </div>

  <!---->
  <!-- CORPORATE EVENTS-->

  <div class="private-hire" #privateEvents>
    <mat-card>
      <mat-card-title>
        PRIVATE HIRE AND EVENTS
      </mat-card-title>
      <mat-card-content>
        <p>Leaving parties, team celebrations and friends’ get togethers often end up with around this number of
          guests. It’s a great size –small enough to still feel intimate but big enough not to have to worry
          about
          awkward silences.</p>
        <p>Small team meetings, brainstormings, high level discussions, board dinners and power lunches are top
          of
          this category for corporate events, while private do’s are much more varied ranging from birthday
          parties, celebrations, high end hen and stag dinners and family lunches.</p>
      </mat-card-content>
    </mat-card>

  </div>


  <div class="openingTimes">

    <mat-card>
      <mat-card-title>Mon - Fri</mat-card-title>
      <mat-card-content>7:00am to 9:00pm</mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Sat - Sun</mat-card-title>
      <mat-card-content>Open only for Pre-booked events</mat-card-content>
    </mat-card>


  </div>

  <mat-card class="find-us" #findus>
    <span #findus></span>
    <mat-card-title>GETTING HERE</mat-card-title>
    <mat-card-content>
      <p>
        Located in Chartehouse Sq, immediately next door to the Charterhouse Museum.

        <br>

        <span class="material-icons" style="font-size: 20px;">home</span>
        <span>14 CHARTERHOUSE SQ,</span>
        <span>LONDON EC1M 6AX</span>
        <br>
        <br>
        <!--<span class="material-icons" style="font-size: 20px; transform: translate(-3px,3px);">local_phone</span>-->
        <!--<span> 0203 817 4178</span>-->
        <!--<br>-->
        <!--<span class="material-icons" style="font-size: 20px; transform: translateY(3px);">     email</span>-->
        <!--<span> 14.green.main@gmail.com</span>-->


        <span style="line-height: 40px; letter-spacing: 2px">RAIL & UNDERGROUND</span>
        <br>
        <span class="material-icons" style="font-size: 20px;">train</span>
        <span> Farrindon Station, Thameslink, Crossrail, </span>
        <br>
        <span class="material-icons" style="font-size: 20px;">subway</span>
        <span> Farrindon Station, Thameslink, Crossrail, </span>

      </p>
    </mat-card-content>
    <mat-card-content>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.5622285099244!2d-0.10153168422952075!3d51.5212469796374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b20950b258f%3A0x31f8c4c2ceff2a34!2sFourteen+on+the+Green!5e0!3m2!1sen!2suk!4v1539264187723"
        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </mat-card-content>
  </mat-card>
